<div class="errors" id="signup_errors">
{% for field in form %}
{{ field.errors }}
{% endfor %}
</div>
<form action="{{action_url}}" method="{{method}}" id="form">
    {% for field in form %}
    <div>
    {% comment %}
    <p class="label_tag">
    {{ field.label_tag }}
    </p>
    {% endcomment %}
    <p>
    {{ field }}
    </p>
    </div>
    {% endfor %}
    {% csrf_token %}
</form>
<button class="form_submit" id="submitter" onclick="form_submit('form');">SIGNUP</button>
<script>
    let form = document.getElementById('form');
    form.addEventListener("keypress", (event) => {
        if (event.keyCode == 13)
        {
            event.preventDefault();
            document.getElementById("submitter").click();
        }
    });
    let submitter = document.getElementById('submitter');
    submitter.addEventListener("keypress", (event) => {
        if (event.keyCode == 13)
        {
            event.preventDefault();
            document.getElementById("submitter").click();
        }
    });
</script>